<% layout('layouts/boilerplate')%>

<body style="background-color:navajowhite;">

  <div class="row">
    <div>
        <h1 style="color: red;">Events and Festivals in Thanjavur</h1>
    </div>
      
    <div>
        <p>Thyagaraja Aradhana: It is a 8 day carnatic music celebration in the honour of Thyagaraja, the musical legend. It is one of the biggest celebrations in the region.
        <a href="https://en.wikipedia.org/wiki/Tyagaraja_Aradhana">click here</a></p> 
        <p>Utsavam: On this day, houses are cleaned. It is the day for purification and revitalization.</p>
       
        <p>Natyanjali Festival: Lord Shiva in his Nataraj form is considered the Lord of Dance. Natyanjali, a classical dance festival is organized during Shivratri to honour him.<a href="https://en.wikipedia.org/wiki/Natyanjali">Read more</a></a></p>
    
       <p>Rama Navmi: The Birthday of Lord Rama is one of the important events celebrated in Thanjavur.</p> 
      
       <p>Ekadashi: Ekadashi is celebrated on every eleventh day of the lunar calendar but the Vrishika Ekadashi is of special importance.</p> 
    
        <p>Navatri: The North Indian Dandiya raas blends with the Tamilian rituals and the nights light up during this time.</p>
       
        <p>Saraswathi Pooja: It is an event that happens in the last three days of Navaratri. Krishnanattam, Kathakali, and Kalaripayattu performances in the temple pandals commence on this day.</p>
        
      <p>Dassehra: Dassehera is not only celebrated as the day of Lord Rama’s victory, it is the day to worship knowledge and intelligence.Vacation planners of Thanjavur should not miss this!</p>  
        
        <p>SathayaThiruvizha: It is an annual celebration of Raja Raja Chola’s birthday.</p>
    
    </div>
    
    </div>
    
    
</body>
