<% layout('layouts/boilerplate')%>

<body style="background-color:navajowhite;">

  <div class="row">
    <div>
        <h1 style="color: red;">Events and Festivals in Madurai</h1>
    </div>
      
    <div>
        <p>Chithirai Festival, also known as Chithirai Thiruvizha, Meenakshi Kalyanam or Meenakshi Thirukalyanam, 
            is an annual Tamil Hindu celebration in the city of Madurai during the month of April.
             It is celebrated during the Tamil month of Chithirai.
        <a href="https://en.wikipedia.org/wiki/Chithirai_festival#:~:text=Chithirai%20Festival%2C%20also%20known%20as,the%20Tamil%20month%20of%20Chithirai.">Read more</a></p> 





        <h2>Pujas & Festivals</h2>
<p>The puja or the rituals of worship are performed at the Meenakshi Amman Temple between 5 am to 12.30 pm and 4 pm to 10 pm. The temple is open daily from 9 am to 7 pm. Do remember that the puja schedule can change on festival days.
Devotees can check dates and schedules of pujas and festivals at the temple website: <a href="https://en.wikipedia.org/wiki/Meenakshi_Temple,_Madurai">visit website</a></hp>

Madurai never stops celebrating their favourite goddess. At the temple there is a festival in every month of the Tamil calendar and the dates change every year in accordance with the lunar calendar.

During the festivals the golden images of the many deities are taken out in procession into the city streets accompanied by caparisoned elephants. The images clad in silks and jewellery and covered in garlands are carried in decorated chariots to the beat of drums and flutes. There is the loud chanting of mantras as crowds surge around the chariots to catch a glimpse of the deities and offer a quick prayer.


The Thirukalyanam or Chithirai Festival is the most important in the temple’s calendar and there are twelve days of celebrations. It starts with a flag hoisting and on the eighth day there is the coronation of Meenakshi Amman. Next day the goddess is taken out of the temple in a gorgeous procession. On the tenth day the celestial wedding or Thirukalyanam of Goddess Meenakshi and Lord Sundareswarar is performed. The wedding procession is led by their son Lord Subramanya and Lord Vishnu as the brother of Meenakshi arrives on a golden horse to give the bride away.

The celestial wedding is followed by a car festival the next day. The Theertha festival is celebrated on the twelfth day with the Lord and the Goddess going around Masi streets. As this is believed to be a very auspicious period, many weddings are held around the temple at this time.

<h3> Festival (Vaikasi / May)</h3>
<p>The spring festival is held for ten days and on the last day devotees make offerings of milk and mango to the deities. Lord Sundareswara and Meenakshi Amman are taken to the hall called New Mandapam and then taken out in procession. On the day of the Moola star there is a procession of the images of the sixty three Nayanar saints. At night the image of the poet saint Sambandarar, who composed many poems in praise the goddess, is taken out in procession.</p>

<h3>Unjal Festival (Aani / June)</h3>
<p>This is a ten day festival and on the last day the triple fruit puja is performed. The abhishekham ritual is performed to the images of Sivakami Amman and Arulmighu Nataraja on the day of Uthiram. The Nataraja image is then taken out in procession along the four Masi streets.
</p>

<h3>Aadi Mulai Kottu (Aadi / July)</h3>

<p>This ten day festival is reserved for the worship of Meenakshi Amman only. The image of the goddess is taken out in a procession along the Aadi streets. Also there are special music programmes with nadeswaram recitals.</p>

<h3>Aavani Moolam (Aavani / August)</h3>
<p>The Aavani festival goes on for eighteen days. For six days the festival is devoted to the god Chandrashekhar and the next twelve days to the Panchamoorthi that are taken out in procession along the Aavani Moola streets. On the seventh day there is a coronation of Lord Sundareswarar and the miracles performed by the Lord of Madurai are enacted by the Sivachariars.</p>

<h3>Navarathri(Purattasi / September)</h3>
<p>The Navarathri is a grand ten day festival where the goddess appears in new garments to bless her devotees in the Kolu Mandapam. Kalpa puja and Lakshacharna are performed every day in the Amman sanctum. There are cultural performances and the temple is decorated with many coloured lights and arrangement of dolls.</p>

<h3>Kolattam(Ayppasi / October)</h3>
<p>The Kanda Sashti festival is celebrated for six days at the Koodal Kumarar Sannidhi. A durbar is held on Deepavali for the employees of the temple. On the days of Pooram the ceremony of the hoisting and swinging of Meenakshi Amman is performed.</p>

<h3>Kolattam(Karthikai / November)</h3>
The Deepam festival of lights is celebrated for ten days. Lord Sundareswarar is taken out in procession along the Aadi streets. On the day of Karthigai one lakh lamps are lit in the temple and a bonfire is lit in East Masi Street.

<h3>Thiruvathirai(Margali / December)</h3>
<p>There is an anointing ceremony for nine days and Meenakshi Amman is taken out in procession along the Chitra streets. The ceremony of Arudhra Darshan is followed by the Nataraja image being taken out in procession along the Masi streets. On ashtami the Lord and the Goddess ride oxen carts to go round Kottai streets. There are recitations of sacred poetry and religious discourses by spiritual teachers. Students take part in competitions and are given prizes.</p>

<h3>Thepporstoram(Thai / January)</h3>
<p>The Float Festival is celebrated for twelve days. Meenakshi Amman and Lord Sundareswarar are taken out in procession along the Chitra streets. On the eight day there the ceremony called the Casting of the Net. The Teertham festival with the pushing of the float is held on the tenth day. On the eleventh day is the harvesting of the sheaves and on the twelfth day the float festival is held at the tank with the goddess and the lord taken out in decorated boats in the Mariamman Teppakulam Temple.</p>

<h3>Maasi Mandala Utsavam(Masi / February)</h3>
<p>This festival goes on for forty eight days. Six days are devoted to the god Vinayaka, six days to the god Kumar and six days to the god Chandrashekhar. The deities are taken out in procession along the second corridor of the Swamy Sannidhi. The Panchamoorthy festival has the images taken around the Chitra streets for ten days.</p>

<h3>Vasantham(Panguni / March)</h3>
<p>This nine day festival is held at the Velliayambala Mandapam. Meenakshi Amman and Lord Sundareswarar are taken out in procession along Chitra streets. On the day of Panguni Uthiram the Lord and the Goddess proceed to the Arulmighu Thiruvappudayar Temple and bless those who excel in their religious beliefs by sprinkling ‘rasa vadham’.
</p> 
    
    </div>
    
    </div>
    
    
</body>
