<% layout('layouts/boilerplate')%>

<body style="background-color:navajowhite;">

  <div class="row">
    <div>
        <h1 style="color: red;">Events and Festivals in Tiruchirapalli</h1>
    </div>
      
    <div>

        <h3>Jallikattu</h3>
        <p>An important festival celebrated during the pongal time is called Jallikattu. 
            It is mere Bull catching celebrated in suriyur Manama and in a few villages around Trichy. Together with this Jallikattu a stick fight called silambattam is also celebrated. All these are considered as a symbol of prestige and a symbol to show themselves as a jack of all Traders. 
            Every village around the city has training centre for these kind martial arts.</p> 


        <h3>Float Festivals</h3>       
         <p>All over city where these is a large temple a large tank is also seen.
             During the annual Festivals the deities of that temple will move over the tank in a decorated float called Teppam. 
            It will be more attractive to see.</p>
       
        
           <h3>Samayapuram Mariyamman Festivalv</h3> 
</p>Samayapuram mariamman is given a prime importance all the time because; 
she is called as goddess of poor people of the villages around. The city has poor people in large number and hence they celebrate more festivals for mariamman all over the year out of all three festivals are considered to be the important ones namely poochorithal, pancha prakaram and Brahmotsavam.

Poothorithal is a festival celebrated in chittirai month at which large volumes of flowers from all over the places in and around Trichy are showered for all the 24 hours a day. That flowers worth’s more than 50,000 Rupees. Thousand of people use to visit the temple at that time.

Brahmotsava is celebrated in the month of April. Devotees from many foreign countries including Singapore, Malaysia, Srilanka and many far away places use to come. They perform prayers and give their offerings as a reciprocation of the things they earn with the love and grace of goddess mariamman. A float festival and car festival is also celebrated. The Chariot festival is celebrated after the commencement of chittrai month on its second Tuesday.
 Following that the float festival is celebrated after a week called as chittirai Thiruvizha and Teppa Thiruvizha respectively.
        </p>
    

       <h3>Allur Jalla Thirthavizha</h3>
        <p>This festival is celebrated in the puratasi amavasai (fifteenth day of puratasi month). What women do for this festival is they order for a cow and calf doll from potters and after receiving the order they use to perform poojas for the dolls. Not only poojas But they also gather in groups and sing some spiritual songs. This goes for some ten days and after the tenth day they use to go for a procession with the cow and calf doll for which they perform pooja ,on the Bank of river cauvery.
        
        This festival takes place in allur, situated in madurai at chinnamanoor village This is an important festival for woman of Tamil nadu.</p> 
      
       <h3>Vaikunta Ekadasi festival</h3>
        <p>Celebrated in srirangam temple from the mid of month December to mid of january.
        A holy door called “sorga vasal” is opened on a particular day of this festival.
        lakhs of people visit the temple at this time and pray to the lord “renganathar”.this
         function lasts for some ten days.lord perumal use to be seen in many disguises 
        namely “mohini alankaram”,”muthangi sevai alankaram” etc.An important vaishnavate festival.</p> 
    
    
    </div>
    
    </div>
    
    
</body>
