<% layout('layouts/boilerplate')%>


<body style="background-color:navajowhite;">



    <div class="row">
        <div>
            <h1 style="color: red;">Events and Festivals in coimbatore</h1>
        </div>
          
        <div>
    <h3>Mariamman festival</h3>
        <p>Mariamman festival is one of the significant events celebrated in Coimbatore by the end of summer and start of autumn. In this festival, people worship the Hindu Goddess of Rain, for bringing rain and also to cure diseases such as cholera, chicken pox and smallpox. During the event, the deity is carried on a decorated chariot for a procession in the city.
    </p>

    <h3>Koniamman Temple Car festival</h3>
        <p>This is the annual festival of the famous Amman Temple in Coimbatore that takes place in the Tamil month of ‘Maasi’. The festival culminates with the car festival. It is an important event held every year on 1st March and is celebrated with all pomp and pageantry. Thousands of devotees reach the venue to pull the gorgeously decorated car through the major streets of Coimbatore during the festival. Over lakhs, gather to witness the car festival of Koniamman temple in Coimbatore. Special Pujas and ‘abhishekam’ are performed in the hope that the
         goddess Koniamman will help her devotees get married, have children, and generally have a healthy life</p>


         <h3>Ayuda Puja </h3>
            <p>This festival is often looked upon as more than just a collection of rituals. Ayuda Pujai, also known as Astra Puja, is celebrated on the 9th day of Navratri. During this festival, people worship various instruments. Devotees (including artisans and soldiers) wash and clean their own vehicles along with other types of machinery they use and offer puja to these apparatuses to please gods and goddess. They offer prayers with the hope that the tools would help bring about positivity and prosperity.
            </p>

            <h3>Panguni Uthiram</h3>
              <p>  Panguni Uthiram is one of the important festivals of Coimbatore and is celebrated all over Tamil Nadu in the last month of the Tamil Calendar, on a full moon day. Devotees gather at the famous Murugan Temple to offer prayers to all the deities. It is believed that during this day, those in troubled marriages are able to make peace and critical circumstances are thawed. As per mythology, the festival happens on the day when Lord Shiva got married to Goddess Parvati, Lord Murugan got married to Devasana, and Lord Rama got married to Sita. Hence, it is considered to be an auspicious day for married couples.
                Besides these, there are many other fairs such as the Trade and Pollachi Fair which the people of Coimbatore are very enthusiastic about.</p>

        </div>
        
        </div>
        
        
    </body>
    
 