<% layout('layouts/boilerplate')%>


<body style="background-color:navajowhite;">


    <div class="row">
        <div>
            <h1 style="color: red;">Events and Festivals in coimbatore</h1>
        </div>
          
        <div>
            <h3>Brahmotsavam (Annual Festival)</h3>

           <p>The temple is lightened up with a lot of crowd and the thiruvizha kalam is said to be in the middle of March and April. It is called as Bramotsavam or Arupathimoovar thiruvizha.it is celebrated for 9 days. It is started with hoisting of a flag, chariot procession, arupathimoovar thiruvizha and when the festival finishes they celebrate with the marriage for the prime deities in the temple. The whole festival involves a lot of processions on the vahanas. Each day different vahanas are used. The third day has Nandhi as the vehicle for the procession. Rishaba vahanam is used on the fifth midnight. On the seventh day the chariot is decorated and Lord Shiva depicted as holding the kapalam and Brahma is said to ride the chariot. The 8th day is the most important and the statues of 63 nayanmars are made to follow the procession behind Lord Shiva.
            
            The Moovar namely Appar, Sambandhar and Thirugyana sambandhar are carried in separate vahanas. The festival is grand and a lot of devotees submit offerings to the Lord in the chariot. The temple provides a lot of sweets, juices, buttermilk etc. this festival is the spring season festival.</p>
            
           <h3> Deebha Thiruvizha</h3>

           <p>This is called as the light festival which is celebrated all 
               over India and especially during the Karthigai month in Tamilnadu 
               as Karthigai Dheepam festival. The light that we decorate is expected
                to bring glory and brightness to the family. This festival is celebrated 
                in a grand manner in the Kapaleeswarar temple in Chennai. The holy tank is
                 decorated and lights are made to illuminate and provide beauty to the tank. 
                 This festival is celebrated in the temple during the January. The rafts carrying the deities follow a procession.</p>


               <h3>Navarathri Festival</h3>

<p>Navarathri remains the auspicious festival of the hindus and this festival is celebrated in this temple with joy. It comes after the full moon day during August to September. Poojas are performed for Goddess parvati, Lakshmi and saraswathi. 
This festival is conducted for nine days.

The kapaleeswarar temple situated in the 
common region mylapore is sufficiently connected with
 transport and is the worship spot for so many devotees. 
 One has to go to this ancient temple to het the blessings of Lord Shiva to fulfil our wishes. The holiness of the temple is pure and is a mix of modern and ancient times when it comes to architecture.
</p>     </div>
        
        </div>
        
        
    </body>
    




