<% layout('layouts/boilerplate')%>

<body style="background-color:navajowhite;">


    
  <div class="row">
    <div>
        <h1 style="color: red;">Events and Festivals in chidambaram</h1>
    </div>
      
    <div>
        <h2>FESTIVALS</h2>

      <p>  A whole year for men is said to be a single day for the Gods. Just as six poojas are performed in a day at the sanctum sanctorum, six anointing ceremonies are performed for the principal deity - Lord Nataraja in a year. They are the Marghazhi Thiruvaadhirai (in December - January ) indicating the first pooja , the fourteenth day after the new moon ( chaturdasi) of the month of Masi ( February - March) indicating the second pooja, the Chittirai Thiruvonam ( in April- May), indicating the third pooja or uchi kaalam , the Uthiram of Aani (June- July) also called the Aani Thirumanjanam indicating the evening or the fourth pooja , the chaturdasi of Aavani (August-September) indicating the fifth pooja and the chaturdasi of the month of Puratasi ( October - November) indicating the sixth pooja or Arthajama.

        Of these the Marghazhi Thiruvaadhirai ( in December-January) and the Aani Thirumanjanam ( in June-July ) are the most important. These are conducted as the key festivals with the main deity being brought outside the sanctum sanctorum in a procession that included a temple car procession followed by a long anointing ceremony. Several hundreds of thousands of people flock the temple to see the anointing ceremony and the ritualistic dance of the Lord when He is taken back to the sanctum sanctorum. There are references in Umapathy Sivam's 'Kunchithaangristhavam' that the Maasi festival also had the Lord being carried out in procession, however this is not in vogue these days.
        MAHAA KUMBHAABHISHEKAM
        TO SRI SIVAKAAMA SUNDHARI SAMETHA SRI NATARAJARAJA MOORTHI - on 01.05.2015 FRIDAY between 7.00.a.m. and 8.30.a.m.
        Kumbhabhisheka yaaga poojas start from 25.04.2015
        02.05.2015 saturday MahaaRathothsavam for Mahaakumbhabhishekam
        03.05.2015 sunday Dharsan Festival for Mahaakumbhabhishekam</p>
        
       <ul>THE SIX MAHAABHISHEKAS OF SRI NATARAJARAJA 
        <li>03.05.2021 Monday 6.00 p.m. CHITHIRAI ONAM @ Kanaka Sabhai</li>
        <li>15.07.2021 Thursday 3.30 a.m. AANITHIRUMANJANAM @ RAJA SABHAI</li>
        <li>21.08.2021 Saturday 6.00 p.m. AAVANI CHATHURDHASI @ Kanaka Sabhai</li>
        <li>19.09.2021 Sunday 6.00 p.m. PURATTASI CHATHURDHASI @ Kanaka Sabhai</li>
        <li> Monday 3.30 a.m. AARDHRAA ABHISHEKAM @ RAJA SABHAI</li>
        <li>15.02.2022 Tuesday 6.00 a.m. MAASI CHATHURDHASI @ Kanaka Sabhai</li>
    </ul>
        <ul>

                AANI THIRUMANJANA FESTIVAL SCHEDULE
           
            <li>   06.07.2021 Tuesday DWAJAAROHANAM       </li>
            <li>         07.07.2021 Wednesday GOLDEN SOORYAPRABHA     </li>
            <li>  08.07.2021 Thursday SILVER CHANDRAPARABHA  </li>
            <li>  09.07.2021 Friday SILVER BHOOTHA VAAHANAM   </li>
            <li> 10.07.2021 Saturday Silver Rishabhavaahanam (Theruvadaichaan)  </li>
            <li>  11.07.2021 Sunday SILVER GAJA VAAHANAM    </li>
            <li>   12.07 2021 Monday GOLDEN KAILAASA VAAHANAM   </li>
            <li>  13.07.2021 Tuesday BHIKSHADANAR ON GOLDEN CAR   </li>
            <li>  14.07.2021 Wednesday MAHAA RATHOTHSAVAM OF SRI NATARAJARAJAR    </li>
            <li>   15.07.2021 Thursday AANI THIRUMANJANA MAHAABHISHEKAM 3.30 a.m., AANI DHARSANAM @2.00 p.m.    </li>
        </ul>

        <ul>
            AARUDHRAA DHARSANA FESTIVAL SCHEDULE
<li>       11.12.2021 Saturday DWAJAAROHANAM  </li>
<li>    12.12.2021 Sunday GOLDEN SOORYAPRABHA </li>
<li>  13.12.2021 Monday SILVER CHANDRAPARABHA      </li>
<li>  14.12.2021 Tuesday SILVER BHOOTHA VAAHANAM    </li>
<li> 15.12.2021 Wednesday SILVER RISHABHAVAAHANAM(THERUVADAICHAAN)    </li>
<li>   16.12.2021 Thursday SILVER GAJA VAAHANAM    </li>
<li> 17.12.2021 Friday GOLDEN KAILAASA VAAHANAM   </li>
<li>  18.12.2021 Saturday BHIKSHADANAR ON GOLDEN CAR </li>
<li>    19.12.2021 Sunday MAHAA RATHOTHSAVAM OF SRINATARAJARAJAR    </li>
<li>  20.12.2021 Monday MAHAABHISHEKAM 3.30a.m., AARUDHRAA DHARSANAM @ 2.00 p.m.    </li>
        </ul>    
   
      <ul>      OTHER FESTIVALS
          <li> 04.06.2021 Monday 63 NAAYANMAAR UTHSAVAM     </li>
          <li>  19.10.2021 Tuesday SRI MOOLANAATHAR ANNAABHISHEKAM    </li>
          <li>     22.10.2021 Friday SRI SIVAKAMA SUNDHARI UTHSAVAARAMBAM  </li>
          <li>  30.10.2021 Saturday SRI SIVAKAMA SUNDHARI RATHOTHSAVAM   </li>
          <li>   31.10.2021 Sunday POORA CHALANGAI  </li>
          <li>    01.11.2021 Monday THIRUKALYANAM    </li>
          <li> 09.11.2021 Tuesday SOORA SAMHAARAM </li>
          <li>   10.11.2021 Wednesday DEVASENA SUBRAHMANYAR KALYANAM  </li>
          <li>   18.01.2022 Tuesday “THAI-POOSAM” THEERTHAVARI    </li>
          <li>  01.03.2022 Tuesday MAHAA SIVA RAATHRI     </li>
      </ul>
          
    </div>
    
    </div>
</body>