<% layout('layouts/boilerplate')%>
<div class="row">
<div>
    <h1>Events and festivals in district wise</h1>
</div>
  
<div>
    <ul>
            <li><a class="nav-link active "  aria-current="page" href="/f1"><span style="font-family: cursive;">thanjavur</span></a></li>
            <li><a class="nav-link active "  aria-current="page" href="/f2"><span style="font-family: cursive;">madurai</span></a></li>
            <li><a class="nav-link active "  aria-current="page" href="/f3"><span style="font-family: cursive;">Tiruchirapalli</span></a></li>
            <li><a class="nav-link active "  aria-current="page" href="/f4"><span style="font-family: cursive;">coimbatore</span></a></li>
            <li><a class="nav-link active "  aria-current="page" href="/f5"><span style="font-family: cursive;">chennai</span></a></li>
            <li><a class="nav-link active "  aria-current="page" href="/f6"><span style="font-family: cursive;">chidambaram</span></a></li>
    </ul>
</div>

</div>

