<% layout('layouts/boilerplate')%>
<div class="row">
<div>
    <h1>Upcoming poojas in district wise</h1>
</div>
  
<div>
    <ul>
        <li>
            <a class="nav-link active "  aria-current="page" href="#"><span style="font-family: cursive;">thanjavur</span></a>
            <a class="nav-link active "  aria-current="page" href="#"><span style="font-family: cursive;">madurai</span></a>
            <a class="nav-link active "  aria-current="page" href="#"><span style="font-family: cursive;">trichy</span></a>
            <a class="nav-link active "  aria-current="page" href="#"><span style="font-family: cursive;">coimbatore</span></a>
            <a href="/news">pillayarpatti</a>
        </li>
    </ul>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
</div>

</div>
